@charset "UTF-8"

body {
    background-color: gray;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 2% 34%;
}
div {
    margin: 5% 39%;
}
iframe {
    margin: 0% 30%;
}
img{
    margin: 0% 48%;
}